<% layout('layouts/boilerplate') -%>


    <ul class="mt-5">
        <% for (let dog of dogs) { %>
            <div class="card mb-5 border border-5 border-dark">
                <div class="row">
                    <div class="col-md-4 ">
                        <img src="<%=dog?.images[0]?.url%>" alt="" class="img-fluid img-thumbnail h-100 w-auto">
                    </div>
                    <div class="col-md-8  container container-fluid">
                        <div class="card-body">
                            <h2 class="card-title h2 fw-bold text-center">
                                <%=dog.name%>
                            </h2>
                            <hr style="width:70%">
                            <h5 class="text-center h4 py-5">
                                <%=dog.description[0]%>
                            </h5>
                            <div class="mx-auto rounded-circle text-center" style="width: 200px;">
                                <a href="/all/<%=dog.id%>" class="btn mt-3 btn-primary">View <%=dog.name%></a>
                            </div>
                        </div>
    
                        
                    </div>
                </div>
            </div>

        <%}%>
    </ul>
</body>
</html>